<%= form_for(Health.new, remote: true) do |form| %>
<div class="mt-10 sm:mt-0 p-10">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Health Declaration</h3>
        <p class="pt-5">It is important to ensure workers and individuals entering the workplaces and
        production sites are healthy to assist in combating the spread of COVID-19. It will
        also assist in meeting obligations for the recording of people's movements to enable
        contact tracing if required.</p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="#" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <fieldset>
            <legend class="text-base font-medium text-gray-900">Body Temperature</legend>
            <%=form.number_field :temperature, :class=>"w-full -ml-0 sm:w-1/2 m-2 px-5 py-1 text-gray-700 bg-gray-200 rounded", :id=>"cus_temp",  :type=>"text", :required=>"", :placeholder=>"Your Body Temperature", :"aria-label"=>"Body Temperature", :style=>"background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" %>
              <legend class="text-base font-medium text-gray-900">Are you currently experiencing any of the following symptoms? if yes, please mark the symptoms</legend>
              <div class="mt-4 space-y-4">
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= form.check_box :fever, :class=>"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="comments" class="font-medium text-gray-700">Fever</label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= form.check_box :sore_throat, :class=>"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="candidates" class="font-medium text-gray-700">Sore throat</label>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= form.check_box :diarrhea, :class=>"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"%>
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="offers" class="font-medium text-gray-700">Diarrhea</label>
                  </div>
                </div>

                <div class="flex items-start">
                  <div class="flex items-center h-5">
                  <%= form.check_box :shortness_of_breath, :class=>"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"%>
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="offers" class="font-medium text-gray-700">Shortness of breath</label>
                  </div>
                </div>

                <div class="flex items-start">
                <div class="flex items-center h-5">
                  <%= form.check_box :n_a, :class=>"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"%>

                </div>
                <div class="ml-3 text-sm">
                  <label for="offers" class="font-medium text-gray-700">N/A</label>
                </div>
              </div>
              </div>
            </fieldset>
            <fieldset>
              <div>
                <legend class="text-base font-medium text-gray-900">Have you had contact with anyone with fever, cough,colds, or sore throat in the past two weeks?</legend>
              </div>
              <div class="mt-4 space-y-4">
               
                <div class="flex items-center">
                  <%= form.radio_button(:cold, "true")%> 

                  <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">
                    Yes
                  </label>
                </div>
                <div class="flex items-center">
                  <%= form.radio_button(:cold, "false")%> 
                  <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700">
                    No 
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= form.submit :Save,  :class=> "text-white bg-red-900 font-bold inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%end%>

