
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="grid min-h-screen place-items-center">
  <div class="w-11/12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
    <h1 class="text-xl font-semibold">Hello there 👋, <span class="font-normal">Sign up tp continue.</span></h1>
    <form class="mt-6">
      <div class="flex justify-between gap-3">
        <span class="w-1/2">
          <%= f.label :first_name, :class=>"block text-xs font-semibold text-gray-600 uppercase"%>
          <%= f.text_field :first_name, placeholder:"John", autocomplete:"given-name", :class=>"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>
          </span>
          <span class="w-1/2">
          <%= f.label :middle_name, :class=>"block text-xs font-semibold text-gray-600 uppercase"%>
        <%= f.text_field :middle_name, placeholder:"Molina", autocomplete:"maiden-name", :class=>"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>
        </span>
        <span class="w-1/2">
          <%= f.label :last_name, :class=>"block text-xs font-semibold text-gray-600 uppercase"%>
        <%= f.text_field :last_name, placeholder:"Doe", autocomplete:"given-name", :class=>"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>
        </span>
        
      </div>
      <%= f.label :role, :class=> "block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      <%= f.text_field :role, autofocus: true,  placeholder:"E.g: Student, Faculty, Staff...", :class=> "block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>

      <%= f.label :contact_number, :class=> "block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      <%= f.text_field :contact_num, autofocus: true, autocomplete: "email", placeholder:"Place your active contact number here", :class=> "block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>
      <%= f.label :complete_address, :class=> "block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      <%= f.text_field :complete_address, autofocus: true, autocomplete: "email", placeholder:"Place your address here", :class=> "block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>

      <%= f.label :email, :class=> "block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"john.doe@company.com", :class=> "block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>
      <%= f.label :id_number, :class=> "block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      <%= f.text_field :id_number, placeholder:"Place your ID number here", autocomplete:"id-number", :class=>"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>

      <%= f.label :password, :class=>"block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"********", :class=>"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"  %>

      <%= f.label :password_confirmation, :class=>"block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"********",:class=>"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" %>
      
      <%= f.submit "Sign up", :class=>"w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-red-900  shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none" %>
      <a href="/users/sign_in" class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800">Already registered? Log in</a>
    </form>
  </div>
</div>
<% end %>