
<div class="w-full rounded overflow-hidden ">

    <div class="container mx-auto xl:w-3/4 lg:w-11/12">
      <div class="px-6 pt-4">
        <form action="#" class="flex flex-col space-y-8">

          <div>
            <h3 class="text-2xl font-semibold">Basic Information</h3>
            <hr>
          </div>

          <div class="form-item">
            <label class="text-xl ">Full Name</label>
            <input type="text" value="<%= current_user.first_name %> <%= current_user.last_name %>" class="w-full appearance-none text-black text-opacity-50 rounded shadow py-1 px-2  mr-2 focus:outline-none focus:shadow-outline focus:border-blue-200" disabled>

            </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl ">Email</label>
              <input type="text" value="<%= current_user.email %>" class="w-full appearance-none text-black text-opacity-50 rounded shadow py-1 px-2 mr-2 focus:outline-none focus:shadow-outline focus:border-blue-200 text-opacity-25 " disabled>
              
              </div>
          </div>

          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

          <div class="form-item w-full">
            <label class="text-xl ">Complete Address</label>
            <input type="text" value="<%= current_user.complete_address %>" class="w-full appearance-none text-black text-opacity-50 rounded shadow py-1 px-2 mr-2 focus:outline-none focus:shadow-outline focus:border-blue-200 text-opacity-25 " disabled>
            
            </div>
        </div>




          <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row md:space-x-4">

            <div class="form-item w-full">
              <label class="text-xl ">Student ID</label>
              <input type="text" value="<%= current_user.id_number %>" class="w-full appearance-none text-black text-opacity-50 rounded shadow py-1 px-2 mr-2 focus:outline-none focus:shadow-outline focus:border-blue-200 text-opacity-25 " disabled>
            </div>

            <div class="form-item w-full">
              <label class="text-xl ">Contact Number</label>
              <input type="text" value="<%= current_user.contact_num %>" class="w-full appearance-none text-black text-opacity-50 rounded shadow py-1 px-2 mr-2 focus:outline-none focus:shadow-outline focus:border-blue-200 text-opacity-25 " disabled>
            </div>
          </div>
		 
        </form>
      </div>
    </div>

<a class="inline-block flex mt-5 justify-center py-3 px-5 text-gray-700 mb-4 font-bold text-xl border-gray-300 hover:bg-gray-200 " href="/healths/new", data-remote="true">Go to Health Declaration Form</a>

